/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

header {
    background-color: #000000;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
}

header h3 {
    font-size: 1.25rem;
    margin: 0;
    color: #ffffff;
}

.centered {
    text-align: center;
    margin-top: 20px;
}

section {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

section p {
    margin: 10px 0;
}

/* Task List Styles */
.task-list {
    max-height: 300px; /* Adjust based on your design */
    overflow-y: auto; /* Enables vertical scrolling */
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    margin: 15px 0;
    font-size: 1rem;
}

footer {
    background-color: #000000;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    position: not fixed;
    bottom: 0;
    border-radius: 1px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.5);
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Button Styles */
button {
    background-color: #ffffff;
    color: #121212;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
}

button:disabled {
    background-color: #ffffff;
    cursor: not-allowed;
}

/* Claim Button Styles */
#claimButton {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #00ff00; /* Red when enabled */
    color: #000000;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#claimButton:disabled {
    background-color: #ffffff; /* Green when disabled */
    cursor: not-allowed;
}

/* Countdown Timer Styles */
#countdown {
    font-size: 1.2rem;
    color: #ff0000; /* Red for remaining time */
    margin-top: 10px;
}

/* Input Styles */
input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
}

/* Responsive Styles */
@media (max-width: 600px) {
    section {
        margin: 10px;
        padding: 15px;
    }

    button {
        width: 100%;
        padding: 12px 0;
        font-size: 1.2rem;
    }

    input[type="text"] {
        width: 100%;
    }
}

/* Footer Navigation Image Styles */
.footer-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around; /* Space the images evenly */
    padding: 0;
    margin:  0;
}

.footer-nav li {
    display: inline;
}

.footer-nav img {
    width: 50px; /* Adjust the size of the images */
    height: 58px; /* Adjust the size of the images */
}
